
img {
    width: 150px;
    height: 150px;
    border: 5px solid black;
} 

#productsContainer {
    display: grid; 
    grid-template-columns: 1.3fr 0.8fr 0.8fr 0.8fr 1.3fr; 
    grid-template-rows: 0.3fr 1.7fr 1fr; 
        grid-template-areas: 
      "header header header header header"
      ". img1 img2 img3 ."
      ". . btn . ."; 
      
  }
  header { 
    grid-area: header; 
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: 800;
    margin-top: 20px;
}

header h1{
    
        font-family: 'Comic Sans MS', cursive; 
        font-size: 36px;
        color: #FF6F61; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
      
        
        animation: bounce 2s infinite;
      }
      
      @keyframes bounce {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
      }
      


#productsContainer img{

    box-shadow: 5px 5px 10px 2px #000;
}

#productsContainer img:first-child {grid-area: img1;}
#productsContainer img:nth-child(2) { grid-area: img2; }
#productsContainer img:nth-child(3) { grid-area: img3; }


.statsButton{
    display: none;
    /* display: inline-block; */
    padding: 10px 20px;
    background-color: #ffA500; /* Use your preferred shade of orange */
    color: #fff; /* Text color */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 20px;
  }

 .statsButton:hover {
    background-color: #ff8500; /* Change the color on hover */
  }

  #statsContainer{
   width: 300px;
   height: 300px;
   margin-left: 20px;
  }

  .hidden {
    display: none;
  }
  
  #showChartButton{

align-items: center;
    text-align: center;
    font-size: large;
    font-weight: 800;
    margin-top: 20px;
    /* display: inline-block; */
    padding: 10px 20px;
    background-color: #ffA500; /* Use your preferred shade of orange */
    color: #fff; /* Text color */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 20px;
  }

  