
body {
  margin: 0;
  
  background: linear-gradient(45deg, #555454, #9b9b9b);
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#productsContainer {
  display: grid; 
  grid-template-columns: 1.3fr 0.8fr 0.8fr 0.8fr 1.3fr; 
  grid-template-rows: 0.3fr 1.7fr; 
      grid-template-areas: 
    "header header header header header"
    ". img1 img2 img3 .";
     
    gap: 20px;
    
    
}
header { 
  grid-area: header; 
  align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 800;
  height: 100px;
  background: teal;
}

header h1{
  
      font-family: 'Comic Sans MS', cursive; 
      font-size: 36px;
      color: #FF6F61; 
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
      padding-top: 30px;      
      animation: bounce 2s infinite;
    }
    
    @keyframes bounce {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
    


    #productsContainer img{
      box-shadow: 5px 5px 10px 2px #000;
      height: 300px;
      width: 300px;
      border: rgb(90, 87, 87) solid 10px;
  }

#productsContainer img:first-child {grid-area: img1;}
#productsContainer img:nth-child(2) { grid-area: img2; }
#productsContainer img:nth-child(3) { grid-area: img3; }


.statsButton{
  display: none;
  /* display: inline-block; */
  padding: 10px 20px;
  background-color: #ffA500; /* Use your preferred shade of orange */
  color: #fff; /* Text color */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-left: 20px;
  height: 150px;
  width: 200px;
}

.statsButton:hover {
  background-color: #ff8500; /* Change the color on hover */
}

#statsContainer {
  align-items: center;
  /* display: flex; */
  /* justify-content: center; */
  
  
 width: 50%;
 height: 500px;
 margin-left: 20px;

}


.hidden {
  display: none;
}

#showChartButton{

align-items: center;
  text-align: center;
  font-size: large;
  font-weight: 800;
  margin-top: 20px;
  /* display: inline-block; */
  padding: 10px 20px;
  background-color: #ffA500; /* Use your preferred shade of orange */
  color: #fff; /* Text color */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-left: 20px;
}

main{
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}